.footerSection {
    background-color: black;
}
.footerWrapper {
    max-width: 1000px;
    margin: auto;
    padding: 70px 250px;
}
.footerWrapperGrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    max-width: 1000px;
    margin: auto;
}
.footerColumn {
    display: flex;
    flex-direction: column;
}
.footerText {
    color: #757575;
    font-size: 18px;
    margin-bottom: 20px;
    margin-top: 0;
}
.footerNumber {
    text-decoration: none;
    color: #757575;
    font-size: 16px;
    margin-bottom: 20px;
}
.footerNumber:hover {
    cursor: pointer;
    text-decoration: underline;
}